<div class="row">
    <div class="col-12">
      <!-- general form elements disabled -->
      <div class="card card-secondary">
        <div class="card-header">
          <h3 class="card-title">Personas</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-sm-6">
                <!-- text input -->
                <div class="form-group">
                  <label>Nombre</label>
                  <input type="text" class="form-control" name = "txtNombre" placeholder="Enter ...">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Apellido Paterno</label>
                  <input type="text" class="form-control" name = "txtApellidoPaterno" placeholder="Enter ..." >
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Apellido Materno</label>
                  <input type="text" class="form-control" name = "txtApellidoMaterno" placeholder="Enter ..." >
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Dirección</label>
                  <input type="text" class="form-control" name = "txtDireccion" placeholder="Enter ..." >
                </div>
              </div>
              <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Estatus</label>
                  <input type="text" class="form-control" name = "txtEstatus" placeholder="Enter ..." >
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Usuario Registra</label>
                  <input type="text" class="form-control" name = "txtUsuarioRegistra" placeholder="Enter ..." >
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                      <label> Fecha Registro</label>
                      <input type="text" class="form-control" name = "txtFechaRegistro" placeholder="Enter ..." >
                    </div>
                 
              </div>
            </div>
            <div class="d-grid gap-2 d-md-block">
                <button class="btn btn-primary" type="button">Guardar</button>
              </div>
     
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido Paterno</th>
            <th scope="col">Apellido Materno</th>
            <th scope="col">Direccion</th>
            <th scope="col">Estatus</th>
            <th scope="col">Usuario Registra</th>
            <th scope="col">Fecha Registro</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
            <td>mdo</td>
    
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>at</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
            <td>mdo</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Otto</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>twitter</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
            <td>mdo</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>at</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>  
            <td>Mark</td>
          
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>twitter</td>
             <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
            <td>twitter</td>
            <td>Mark</td>
           <td>Otto</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>twitter</td>
             <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
            <td>twitter</td>
            <td>Mark</td>
           <td>Otto</td>
          </tr>  <tr>
            <th scope="row">8</th>
            <td>twitter</td>
             <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
            <td>twitter</td>
            <td>Mark</td>
           <td>Otto</td>
          </tr>
        </tbody>
      </table> 

